
body{
    .contacto1{
        margin-top: 150px;
        margin-bottom: 40px;
        margin-left: 20px;
        margin-right: 20px;
    }
    .formul{
        margin-top: 10px;
        margin-bottom: 201px;
        margin-left: 20px;
        margin-right: 20px;
        .card-body{
            background-color: #ffffff;
            body.dark &{
                background-color: $color3;
        }
    }
    .bg-info{
        background-color: $color1 !important;
        h3{
            color: white;
        }
        p{
            color: white;
            font-size: 1rem;
        }
    }
        .text-info{
            color:#000000 !important;
        }
    .text-center{
        .btn-info{
            background-color: $color1;
            }
        }
    }
}