header{
    display: flex;
    .redes{
        width: 100%;
        .elmenu{
            flex-wrap: wrap;
            .bg-light{
                background-color: $color3!important;
            }
            .navbar{
                position: fixed;
                z-index: 1030;
                width: 100%;
            }
                .navbar-light{
                    color: $color2;
                    font-family: $fuente1;
                    .navbar-toggler {
                        border-color: #a2a3a3;
                        background-color: #5c5c5c;
                        &:focus{
                            box-shadow: 0 0 0 0.25rem;
                        }
                }
                .navbar-nav {
                    color: $color2;
                    font-family: $fuente1; 
                }
                .nav-link.active {
                    color: #ffffff;
                    font-family: $fuente1;
                }
                .nav-item {
                    margin: 5px;
                    padding: 5px;
                    flex-wrap: wrap;
                    color: $color2;
                    .nav-link {
                        margin: 10px;
                        width: fit-content;
                        flex-wrap: wrap;
                        transition: all 300ms;
                        font-family: $fuente1;
                        font-size: 25px;
                        &:hover{
                            transform: scale(1.1);
                            color: $color1;
                            body.dark &{
                                color: rgba(216, 119, 2, 0.856);
                            }
                        }
                    }
                }
            }
        }
    }
}
