.historiafoto{
    margin-top: 185px;
    padding-top: 185px;
    margin-bottom: 385px;
    padding-bottom: 285px;
    margin-left: 10px;
    margin-right: 10px;
    color: #ffffff;
    font-size: 2rem;
}
.fotofondo{
    background-image:linear-gradient(to top, rgba(0, 0, 0, 0.7) 100%, rgba(0, 0, 0, 0.336) 100%), url(../media/twochurrosfoto1.jpg);
    background-size: cover;
    font-weight: bolder;
    text-align: center;
    margin: auto;
    background-repeat: no-repeat;
}
.margenes{
    font-size: 3rem;
    color: $color2;
    margin-top: 45px;
}