header{
    .redes{
        .elmenu{
            .navbar{
                .logo{
                    width: fit-content;
                    display: flex;
                    flex-wrap: wrap;
                    transition: all 300ms; 
                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }
        }
    }
}