.parrafo {
    color: #000000;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    line-height: 1.6;
    margin: 20px;
    padding: 10px;
    border: solid 10px #034951;
    border-radius: 30%;
}
