footer{
    .red {
        display: none;
        justify-content: center;
        flex-wrap: wrap;
            .fb {
                font-size: 20px;
                color: $colorredes;
                margin: 3px;
                padding: 5px;
                transition: all 300ms;
                &:hover {
                transform: scale(1.23);
                }
            }
            .ig {
                font-size: 20px;
                color:$colorredes; 
                margin: 3px;
                padding: 5px;
                transition: all 300ms;
                &:hover {
                transform: scale(1.23);
                }
            }
            .delivery {
                @include RedesFooter($delivery-margin);
            }
        }
}   
main{
    .social-fixed{
        position: fixed;
        bottom: 0;
        margin-left: 5px;
        margin-bottom: 7px;
        z-index: 1030;
        .list{
            list-style: none;
            color: $colorredes;
            li{
                padding-top: 15px;
                transition: all 300ms;
                &:hover{
                    transform: scale(1.23);
                }
                a{
                    color: $colorredes;
                    list-style: none;
                    text-decoration: none;
                    &:hover{
                        color: #034951;
                        body.dark &{
                            color: rgba(216, 119, 2, 0.856);
                        }
                    }
                }
            }
        }        
    }
}