/* Responsive */

@media only screen and (max-width: 1850px){
    .red{
        flex-direction: row;
    }
    .nav-link{
        font-size: 23px!important;
    }
}

@media only screen and (max-width: 1555px){
    .nav-link{
        font-size: 12px!important;
    }
}

@media only screen and (max-width: 1170px){
    .gallery-conteiner{
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,1fr);
    width: 80%;
    }
    main{
        .carrusel{
            width: 90%;}
        .social-fixed{
            display: none;
        }
    }
    .fb{
        font-size: 30px;
    }
    .ig{
        font-size: 25px;
    }
    .delivery{
        font-size: 25px;
    }
    .parrafo{
        font-size: 10px;
    }
    h5{
        font-size: 15px;
    }
    .caja{
        width: 700px;
        height: 600px;
        margin: 40px;
        display: inline-block;
    }
}
@media only screen and (max-width: 992px){
    .elmenu{
        justify-content: center;
    }
    .bg-light{
        background-color: #ffffff!important;
    }
    main{
        .carrusel{
            width: 100%;
        }
    }
}
    .caja{
        width: 400px;
        height: 300px;
        margin: 40px;
        display: inline-block;
    }
    .red{        
        display: inline-flex!important;
        justify-content: center;
        flex-wrap: wrap;
    }
@media only screen and (max-width: 500px){
    .gallery-conteiner{
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(3,1fr);
    width: 80%;
    }
    .items li{
        font-size: 20px;
    }
    h3{
        font-size: 20px;
    }
    .nuestra{
        font-size: 15px;
    }
    h5{
        font-size: 10px;
    }
    .red{        
        display: inline-flex!important;
        justify-content: center;
        flex-wrap: wrap;
    }
    main{
        .carrusel{
            width: 100%;}
    }
    header{
        flex-direction:column;
        flex-basis: 100%;
    }
    .nuestrasalsa{
        width: 70%;
    }
    
    .caja{
        width: 300px;
        height: 158px;
        margin: 20px;
        object-fit: cover
    }
    .botonfinal{
        font-size: 10px;
    }
    .parrafo{
        font-size: 10px;
    }
}
@media only screen and (max-width: 281px){
    .caja{
        width: 250px;
        height: 180px;
        margin: 20px;
        object-fit: cover;
    }
    .red{        
        display: inline-flex!important;
        justify-content: center;
        flex-wrap: wrap;
    }
    main{
        .carrusel{
            width: 100%;}
    }
}