.sucus{
    margin-top: 50px;
    padding-top: 50px;
}
.mapa1{
    position: relative;
    width: 100%;
    min-height: 100vh;
    z-index: 0;
    filter: brightness(70%);
}
.mapa2{
    @extend .mapa1;
}